.cbr-primary{
    height: ;
   background-color: #264653 !important;
   color:white;

}
.cbr-orange{
   background-color:#E77C40;
}
 .star-secondary{
    
    color:#E77C40;
 }
 body{
   font-family: 'Poppins', sans-serif;
 }
 baiker-img {
   border-radius: 50%;
 }